#  <span style="color:darkred"> Tipo de variáveis
---
Vamos dar o **primeiro passo** em nossa playlist apresentando os principais **tipos de dados** que vamos utilizar aqui em nosso treinamento. Variáveis possuem algumas **diretrizes** para manter **boas práticas de codificação**, estas são:
- Podem conter letras, números e *undercores*
- Devem começar somente com letra ou *undercore*
- Devem está em caixa-baixa (caracteres minúsculos

## <span style="color:purple">  Parte 1 - int & float
---

####  Int
- Número inteiros.

In [5]:
# Apresentado no terminal Prompt de Comando

#### Float
- Números decimais:\
    **CUIDADO!** Utilize **ponto** para a separação de casas, uma vez que a vírgula é utilizada para declaração de tuplas, por exemplo:

In [6]:
# Apresentado no terminal Prompt de Comando

### <span style="color:purple"> Exemplo 1 - Conversão de unidades milhas/kilometros
---
Aplique ao prompt de comandos a equação abaixo para a conversão de unidade de medida kilometros e milhas

```
milhas = 1.60934*distancia 
```

In [ ]:
# Apresentado no terminal Prompt de Comando

### <span style="color:purple"> Função type()
---
Esta função recebe uma variável retorna a sua respectiva classificação.

In [ ]:
# Apresentado no terminal Prompt de Comando

## <span style="color:purple">  Parte 2 - Uso de Strings
---

#### String
Combinação de múltiplos caracteres

In [2]:
nome = 'André Luiz'
type(nome)

str

#### Index
O conceito de index é utilizado em diferentes **iteráveis**, este recurso permite **acessar valores** através de um **índice** que se inicia apartir de zero e que também aceita valores negativos.

In [3]:
#[0,1,2,3,4,5,6,7,8,9,10]

nome[-2]

'i'

#### Slice
Slice é um recurso utilizado em elementos iteráveis onde **seleciona intervalos** através do uso do **index**.

In [4]:
nome[6:10]

'Luiz'

### <span style="color:purple"> Alguns métodos strings
---
Em Python, variáveis são **objetos** criados por **classes internas** da linguagem que **definem** o tipo de variável, estes objetos possuem **método**s, que nada mais são que **funções da sua própria classe**. Em suma, estes métodos são ferramentas essenciais para resolução de problemas. Assim, a variável string, possui uma gama de métodos para a sua manipulação, vejamos alguns exemplos abaixo:

#### upper( )
Retorna string com caracteres maiúsculos

In [17]:
nome.upper()

'ANDRÉ LUIZ'

#### lower( )
Retorna string com caracteres minúsculos

In [ ]:
nome.lower()

'andré luiz'

#### title( )
Retorna string com primeiro caractere maiúsculo de cada palavra

In [8]:
'curso de python'.title()

'Curso De Python'

#### split( ) e parâmetro "sep"
Retorna uma lista compostas pelas palavras construídas em um string. Outro novo elemento apresentado aqui é o conceito de **parâmetro**, estes são entradas (*inputs*) que podem ser obrigatórios ou não para um determinado método ou função.

In [18]:
curso = 'curso_de_python'
curso.split(sep='o')

['curs', '_de_pyth', 'n']

#### replace( )
Recebe (elemento_velho, elemento_novo) e retorna uma nova string

In [19]:
curso = 'curso_de_python'
curso = curso.replace('_',' ')
curso.title()

'Curso De Python'

#### map( )
Aplica uma função para cada iterável. Neste exemplo vamos converter uma docstring em uma lista contendo strings, então, através da função map(), poderemos converter para variável float com um comando em todos itens desta lista.

In [20]:

dados = '''19.37
33.87
12.17
22.86
10.14
15.41
6.31
7.77
46.61
69.45
31.21
32.82
34.74
40.02
26.23
31.21'''
dados = dados.replace('\n', ',')
dados = dados.split(sep= ',')
dados = list(map(float,dados))
print(dados)

[19.37, 33.87, 12.17, 22.86, 10.14, 15.41, 6.31, 7.77, 46.61, 69.45, 31.21, 32.82, 34.74, 40.02, 26.23, 31.21]

## <span style="color:DARKRED"> Desafio 1 -> Contador de caracteres e palavras 
---
Construa um programa que receba uma string e calcule: 
- O número de palavras 
- O número de caracteres 
- O número de caracteres sem espaços \
\
__Utilize a função `len()`__

In [12]:
dados_n = 'Return True if the object argument is an instance of the classinfo argument, or of a (direct, indirect, or virtual) subclass thereof. If object is not an object of the given type, the function always returns False. If classinfo is a tuple of type objects (or recursively, other such tuples) or a Union Type of multiple types, return True if object is an instance of any of the types. If classinfo is not a type or tuple of types and such tuples, a TypeError exception is raised.'
n_palavras = len(dados_n.rsplit())
n_carac = len(dados_n)
n_carac_sem_espaco = len(dados_n.replace(' ', ''))
print(n_palavras)
print(n_carac)
print(n_carac_sem_espaco)

87
478
392

### <span style="color:darkred"> Exemplo 3 (Extra) | Limpeza de dados 
### <span style="color:k"> Efeitos de Planejamento de Experimentos 2^4
---
Este exemplo não foi apresentado nas gravações da playlist devido o conteúdo necessário para a construção do código. No entanto, deixei aqui nesta apostila para demonstrar como podemos utilzar os métodos strings para a resolução de problemas pertinentes.

In [23]:
# Tabela de efeitos de planejamento experimental 2^4
dados = '''-55	-55	-55	-55	55	55	55	55	55	55	-55	-55	-55	-55	55
53	-53	-53	-53	-53	-53	-53	53	53	53	53	53	53	-53	-53
-91	91	-91	-91	-91	91	91	-91	-91	91	91	91	-91	91	-91
94	94	-94	-94	94	-94	-94	-94	-94	94	-94	-94	94	94	94
-88	-88	88	-88	88	-88	88	-88	88	-88	88	-88	88	88	-88
97	-97	97	-97	-97	97	-97	-97	97	-97	-97	97	-97	97	97
-100	100	100	-100	-100	-100	100	100	-100	-100	-100	100	100	-100	100
98	98	98	-98	98	98	-98	98	-98	-98	98	-98	-98	-98	-98
-72	-72	-72	72	72	72	-72	72	-72	-72	-72	72	72	72	-72
62	-62	-62	62	-62	-62	62	62	-62	-62	62	-62	-62	62	62
-90	90	-90	90	-90	90	-90	-90	90	-90	90	-90	90	-90	90
90	90	-90	90	90	-90	90	-90	90	-90	-90	90	-90	-90	-90
-90	-90	90	90	90	-90	-90	-90	-90	90	90	90	-90	-90	90
98	-98	98	98	-98	98	98	-98	-98	98	-98	-98	98	-98	-98
-104	104	104	104	-104	-104	-104	104	104	104	-104	-104	-104	104	-104
100	100	100	100	100	100	100	100	100	100	100	100	100	100	100'''

In [54]:
import numpy as np
import pandas as pd # seção 5 
def limpar_dados(dados): # Função parametrizada - > seção 4 
    dados = dados.replace('\t', ' ')
    dados = dados.replace('\n', ',')
    dados = dados.split(sep=',')
    dados = [[i] for i in dados]  # List comprehensions
    return np.array([dados[j][0].split() for j in range(len(dados))]) # List comprehensions e função range()-> seção 3 e 4
def gerar_df(dados):
    columns = [1,2,3,4,12,13,14,23,24,34,123,124,134,234,1234]
    return pd.DataFrame(limpar_dados(dados),columns=columns) #seção 5
gerar_df(dados)

,1,2,3,4,12,13,14,23,24,34,123,124,134,234,1234
0,-55,-55,-55,-55,55,55,55,55,55,55,-55,-55,-55,-55,55
1,53,-53,-53,-53,-53,-53,-53,53,53,53,53,53,53,-53,-53
2,-91,91,-91,-91,-91,91,91,-91,-91,91,91,91,-91,91,-91
3,94,94,-94,-94,94,-94,-94,-94,-94,94,-94,-94,94,94,94
4,-88,-88,88,-88,88,-88,88,-88,88,-88,88,-88,88,88,-88
5,97,-97,97,-97,-97,97,-97,-97,97,-97,-97,97,-97,97,97
6,-100,100,100,-100,-100,-100,100,100,-100,-100,-100,100,100,-100,100
7,98,98,98,-98,98,98,-98,98,-98,-98,98,-98,-98,-98,-98
8,-72,-72,-72,72,72,72,-72,72,-72,-72,-72,72,72,72,-72
9,62,-62,-62,62,-62,-62,62,62,-62,-62,62,-62,-62,62,62
10,-90,90,-90,90,-90,90,-90,-90,90,-90,90,-90,90,-90,90
11,90,90,-90,90,90,-90,90,-90,90,-90,-90,90,-90,-90,-90
12,-90,-90,90,90,90,-90,-90,-90,-90,90,90,90,-90,-90,90
13,98,-98,98,98,-98,98,98,-98,-98,98,-98,-98,98,-98,-98
14,-104,104,104,104,-104,-104,-104,104,104,104,-104,-104,-104,104,-104
15,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100

## <span style="color:purple">  Parte 3 - Variáveis Compostas

## <span style="color:purple">  Uma abordagem breve sobre variáveis compostas
---
Variáveis compostas são coleções de itens, ou seja, são variáveis que podem armazenar vários tipos de variáveis em um único elemento. As coleções que apresentarei neste módulos será as listas e dicionários. As **listas** são coleções **mutáveis**, em outras palavras podem ser modificadas, adicionando, removendo e ordenando os seus itens.

### <span style="color:purple"> list

In [57]:
lista = [True, 2, 2.5, 'andre', [1,2,3], (2,3)]
lista
tuplas = True, 2, 2.5, 'andre', [1,2,3], (2,3)
print(type(tuplas))

<class 'tuple'>

#### index

```

index ->[0,1,2,3,4]

lista = [1,2,3,4,5]

index->[-5,-4,-3,-2,-1] 

lista[0]
>>> 1

lista[-1]
>>> 5
```

In [58]:
lista[3]
lista[-1][1]

3

#### slice

```
index ->[0,1,2,3,4]
lista = [1,2,3,4,5]

lista[0:3]
>>> 1
```

In [59]:
lista = [1,2,3,4,5]
lista[0:4]

[1, 2, 3, 4]

#### Método append ()
Retorna um valor para o final de uma lista

In [60]:
lista.append([1,2,3])
lista

[1, 2, 3, 4, 5, [1, 2, 3]]

### <span style="color:purple"> dict

#### Estrutura de dicionários:


```
#ESTRUTURA GENÉRICA:

dict_ex = {'Key':value}

dicionario = {'Nome': 'André', 'Idade': 25, 'Semestre': 9, 'Ano de ingresso':2017}

# items:
>>> 'Nome': 'André', 'Idade': 25, 'Semestre': 9, 'Ano de ingresso':2017

# key:
>>> 'Nome', 'Idade', 'Semestre', 'Ano de ingresso'

# values:
>>> 'André', 25, 9, 2017

```

In [62]:
dicionario = {'Nome': 'André', 'Idade': 25, 'Semestre': 9, 'Ano de ingresso':2017}
len(dicionario)

4

#### Método items( )
Retorna as itens do dicionário.

In [63]:
dicionario.items()

dict_items([('Nome', 'André'), ('Idade', 25), ('Semestre', 9), ('Ano de ingresso', 2017)])

#### Método keys( )
Retorna as chaves do dicionário.

In [ ]:
dicionario.keys()

dict_keys(['Nome', 'Idade', 'Semestre', 'Ano de ingresso'])

#### Método values( )
Retorna os valores do dicionário.

In [ ]:
dicionario.values()

dict_values(['André', 25, 9, 2017])

#### Método get( )
Recebe o nome da chave e retorna o seu repectivo valor. Caso o parâmetro inserido for inesxistente será retornado um NoneType

In [ ]:
type(dicionario.get('Curso'))

NoneType

#### Adicionando item ao dicionário

In [ ]:
dicionario['Curso']='Química'

In [ ]:
dicionario['CPF']=00000000000

In [ ]:
composto_quimicos = [a,b,c,d]

{'Ano de ingresso': 2017,
 'CPF': 0,
 'Curso': 'Química',
 'Idade': 25,
 'Nome': 'André',
 'Semestre': 9}

## <span style="color:purple"> Parte 4 - Função print()
---

## <span style="color:purple">Função print()
---
- Imprime valores ou elementos no terminal do compilador

### <span style="color:purple"> Exemplo 1 - Conversão de unidades milhas/kilometros
Crie um programa que receba a distância em milhas e tempo (h) e imprima valores de distância em km, tempo em horas e a valocidade escalar média em km/h.

```
milhas = 1.60934*distancia 
```

In [ ]:
distancia = float(input())
tempo = float(input())
km = 1.60934*distancia 
v_media = km/tempo 
print(distancia)
print(tempo)
print(v_media)

10
1
10.0
1.0
16.0934

### <span style="color:purple"> Concatenação de variaveis na função print

In [ ]:
print('Distância:', distancia )
print('Tempo:',tempo)
print('Velocidade média', v_media)

Distância: 10.0
Tempo: 1.0
Velocidade média 16.0934

### <span style="color:purple"> Método 'f'

In [ ]:
print(f"Distância: {distancia}")
print(f"Tempo:' {tempo}")
print(f"Velocidade média' {v_media}")

Distância: 10.0
Tempo:' 1.0
Velocidade média' 16.0934

### <span style="color:purple"> Método .format()

In [ ]:
print("Distância: {}, {}".format(distancia,tempo))
print("Tempo:' {}".format(tempo))
print("Velocidade média' {}".format(v_media))

Distância: 10.0, 1.0
Tempo:' 1.0
Velocidade média' 16.0934

### <span style="color:purple"> %s | %f | %d

In [ ]:
print("Distância: %d"%distancia)
print("Tempo:' %d"%tempo)
print("Velocidade média' %.1f"%v_media)
print('A distãncia percorrida foi de %d km e sua respectiva velocidade média foi de %.2f km/h'%(distancia, v_media))

Distância: 10
Tempo:' 1
Velocidade média' 16.1
A distãncia percorrida foi de 10 km e sua respectiva velocidade média foi de 16.09 km/h

#Parte 5 -> seção 1

## <span style="color:purple"> Função input() 
---
- insere dados ao programa
- Estrutura: _tipodevariavel_input_informação
\
Função input( ): https://docs.python.org/3/library/functions.html#input

In [ ]:
a = int(input('Digite um valor: '))

Digite um valor: 15

In [ ]:
type(a)

int

### <span style="color:purple"> Exemplo 1 - Construção de tanque cilídrico inox
**Construa um programa que leia diâmetro e altura de um cilíndro e retorna o usuário valor e metragem das chapas inox necessárias para construção do cilindro.**
- Preço por m² da chapa: R$580,00
- A empresa realiza cortes circulares
\
Biblioteca Math: https://pypi.org/project/python-math/

In [ ]:
!pip install python-math

Requirement already satisfied: python-math in /usr/local/lib/python3.7/dist-packages (0.0.1)

In [64]:
import math

In [65]:
pi = math.pi
pi

3.141592653589793

In [66]:
h = float(input('Qual é a altura? Em metros. '))
d = float(input('Qual é o diãmetro? Em metros '))

area_l = h*2*(d/2)
area_b = 2*(pi*(d/2)**2)
area_t = round(area_l + area_b, 2)

valor = 580 
valor_t = round(valor*area_t, 2)

print(f"A área total das chapas: {area_t}")
print('Preço total das chapas: R$ {}'.format(valor_t))

Qual é a altura? Em metros. 1
Qual é o diãmetro? Em metros 1
A área total das chapas: 2.57
Preço total das chapas: R$ 1490.6

### <span style="color:purple">Exemplo 2 - Custos e ganhos de um funcionário
**Receba o salário-base de um funcionário. Calcule e imprima o valor do salário-base considerando 7% de bônus de gratificação e o desconto de 7% de imposto sob estes ganhos.**

In [ ]:
salario = float(input('Qual salário-base? Em R$ '))
ganhos_b = salario*1.07
ganhos_t = ganhos_b - 0.07*(ganhos_b)
print('O valor bruto a ser ganho é de R$ %.2f, enquanto seu valor líquido é de R$ %.2f'%(ganhos_b, ganhos_t))

Qual salário-base? Em R$ 1200
O valor bruto a ser ganho é de R$ 1284.00, enquanto seu valor líquido é de R$ 1194.12

## <span style="color:darkred">**DESAFIO I - Aquecimento de água em um tanque**

**Construa um programa que forneça o tamanho do diâmetro e altura de uma caldeira cilíndrica contendo água pura e imprima quanto de calor seria necessário para aquecê-la de 25 °C até 80ºC, desprezando efeitos dissipativos. Dados: calor específico da água =  1 cal/g ºC. e massa específica = 1000 kg/m³**\
Q = m.c.deltaT

In [ ]:
import math 
pi = math.pi

d = float(input('Qual é o diâmetro da caldeira? Em metros.'))
h = float(input('Qual é a altura da caldeira? Em metros.'))

densidade = 1000
calor_s = 1
volume = round(h*(((d/2)**2)*pi), 2)
massa = round(densidade*volume, 2)

q = round(massa*calor_s*(80-25), 2)

print(f"Volume de água: {volume} m²")
print(f"Massa de água: {massa} kg")
print(f"Calor necessário: {q} cal")

Qual é o diâmetro da caldeira? Em metros.5
Qual é a altura da caldeira? Em metros.2
Volume de água: 39.27 m²
Massa de água: 39270.0 kg
Calor necessário: 2159850.0 cal

## <span style="color:darkred"> **DESAFIO II - Salmoura em uma caldeira**
Construa um programa que leia as dimensões de uma caldeira cilíndrica e a concentração de NaCl (em % m/m) necessária. Retorne o valor do volume da caldeira e a quantidade em kilogramas de NaCl. 
- Lembrando que a solução máxima do cloreto de sódio em água é de 36% em 25 ºC



```
massa_sal = Concentração(%)*massa_agua
```

In [ ]:
import math 
pi = math.pi

d = float(input('Qual é o diâmetro da caldeira? Em metros.'))
h = float(input('Qual é a altura da caldeira? Em metros.'))
conc = float(input('Qual é a concentração do sal? Em % (m/m) '))


densidade = 1000
volume = h*(((d/2)**2)*pi)
massa = densidade*volume

massa_sal = conc*massa

print('='*40)
print('Massa de água total: %.2f'%massa)
print('Massa de cloreto de sódio: %.2f'%massa_sal)
print('='*40)

Qual é o diâmetro da caldeira? Em metros.2
Qual é a altura da caldeira? Em metros.0.7
Qual é a concentração do sal? Em % (m/m) 15
========================================
Massa de água total: 2199.11
Massa de cloreto de sódio: 32986.72
========================================